@model TelRehberMVC.Models.Kisiler
@{
    ViewBag.Title = "Yeni";
}

<h2>Yeni Kisi</h2>

@using (Html.BeginForm())
{
    <div class="input-group">
        <span class="input-group-text" id="txtad"> Ad </span>
        @Html.TextBoxFor(x => x.Ad, new { @class="form-control", placeholder = "kişi adı",
        aria_describedby = "txtad"})
    </div>

    <br />

    <div class="input-group">
        <span class="input-group-text" id="txtsoyad"> Soyad </span>
        @Html.TextBoxFor(x => x.Soyad, new { @class="form-control", placeholder = "kişi soyadı",
        aria_describedby = "txtad"})
    </div>

    <br />

    <div class="input-group">
        <span class="input-group-text" id="txttelefon"> Telefon </span>
        @Html.TextBoxFor(x => x.Telefon, new { @class="form-control", placeholder = "kişi telefonu",
        aria_describedby = "txtad"})
    </div>

    <br />

    <div class="input-group">
        <input type="submit" value="Kaydet" class="btn btn-success" />
    </div>
    <br />

    <div class="input-group">
        @if (ViewBag.Result != null)
        {
                <div class="alert alert-@ViewBag.Status" role="alert" >
                    @ViewBag.Result
                </div>
          }
    </div>

}




